@font-face {
  font-family: "adobe";
  src: url("assets/fonts/AdobeClean/AdobeClean-Regular.otf") format("woff2");
}

@font-face {
  font-family: "adobe-medium";
  src: url("assets/fonts/AdobeClean/AdobeClean-Medium.otf") format("woff2");
}

@font-face {
  font-family: "adobe-light";
  src: url("assets/fonts/AdobeClean/AdobeClean-Light.otf") format("woff2");
}

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "adobe", sans-serif;
  overflow-x: hidden;
}

/* Variables */
:root {
  --primary-blue: #0767dd;
  --primary-white: #fefeff;
  --primary-gray: #6d7784;
  --primary-black: #293340;
}

.portfolio-hero {
  background: var(--primary-blue);
}

a {
  text-decoration: none;
}

.get-started {
  outline: none;
  border: none;
  padding: 0.8rem 1.1rem;
  font-size: 1.125rem;
  border-radius: 1.6875rem;
  margin-top: 2rem;
}

.portfolio-nav-container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 1rem 0;
}

.portfolio-nav-subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-nav-item-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.portfolio-nav-item-left span {
  font-size: 1.5rem;
  color: var(--primary-white);
}

.portfolio-nav-item-mid {
  display: flex;
  gap: 1.3rem;
}

.portfolio-nav-item-mid div a {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-white);
}

.portfolio-nav-item-right {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.portfolio-nav-item-right span {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--primary-white);
}

/* Hero main text */
.hero-main-text-container {
  max-width: calc(1100px + 6%);
  margin: 15rem auto;
}

.hero-main-text-subcontainer {
  text-align: center;
  font-size: 1.8rem;
}

.hero-main-text-subcontainer h1 {
  color: var(--primary-white);
  font-weight: 200;
}

.hero-main-text-subcontainer button {
  outline: none;
  border: none;
  padding: 0.8rem 1rem;
  font-size: 1.125rem;
  border-radius: 1.6875rem;
  margin-top: 2rem;
}

.usecase-main-container {
  max-width: 1300px;
  margin: 10rem auto;
}

.usecase-main-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.usecase-main-title {
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}

.usecase-main-title p {
  color: var(--primary-gray);
}

.usecase-main-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.usecase-main-card {
  display: grid;
  margin: 0 auto;
  background: rgba(241, 241, 241, 0.603);
  padding: 1rem;
  border-radius: 7px;
}

.usecase-main-card img {
  width: 100%;
  user-select: none;
}

.usecase-main-card-description {
  text-align: center;
}

.usecase-main-card-description h1 {
  font-size: 21px;
}

.usecase-main-card-description p {
  font-size: 17px;
  max-width: 350px;
  margin: 2rem auto;
  margin-top: 1rem;
}

.main-upper-container {
  background-color: #f8fafb;
}

.showcase-main-container {
  max-width: 1300px;
  margin: 10rem auto;
}

.showcase-main-subcontainer {
  text-align: center;
}

.showcase-main-title {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.showcase-main-title h1 {
  font-size: 47px;
}

.showcase-main-title p {
  font-size: 20px;
  color: var(--primary-gray);
  font-weight: 200;
}

.showcase-main-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.showcase-card-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.showcase-card img {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
}

.card-detail {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.card-detail h1 {
  font-size: 15px;
}
.card-detail p {
  font-size: 14px;
  color: var(--primary-gray);
}

.conclusion-main-container {
  max-width: 700px;
  margin: 10rem auto;
}

.conclusion-main-subcontainer {
  text-align: center;
}

.conclusion-main-detail h1 {
  margin-bottom: 1rem;
  font-size: 47px;
  font-weight: 200;
}

.conclusion-main-detail p {
  color: var(--primary-gray);
  font-size: 20px;
  font-weight: 400;
}

.upper-footer {
  background: #1b222b;
}

.footer-main-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 5rem 1rem;
  margin-bottom: 3rem;
}

.footer-main-subcontainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-item button {
  width: fit-content;
  padding: 0.8rem 1.2rem;
  background-color: #2f3843;
  color: var(--primary-white);
  border-radius: 21px;
  border: none;
  outline: none;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 600;
}

.footer-item h1 {
  font-size: 15px;
  color: var(--primary-white);
}

.footer-links p {
  margin-bottom: 0.2rem;
  font-size: 14px;
  color: #888f99;
}

hr {
  margin-top: 3rem;
  border: none;
  border-top: 1px solid var(--primary-gray);
}

.footer-notes {
  margin-top: 1rem;
  text-align: center;
  color: #888f99;
}
